@model MvcCV.Models.Entity.TblYeteneklerim
@{
    ViewBag.Title = "AddSkill";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<h4>Update Skills</h4>
<br />
<form class="form-group" method="post">
    <br />
    @Html.Label("Skill")
    @Html.TextBoxFor(x => x.Yetenek, new { @class = "form-control" })
    <br />
    @Html.Label("Progress")
    @Html.TextBoxFor(x => x.Oran, new { @class = "form-control" })
    <br />
    <button class="btn btn-success">Update</button>
</form>
