@using MvcCV.Models.Entity
@model List<TblYeteneklerim>
<div class="resume-section-content">

    <h2 class="mb-5">SKILLS</h2>

    <div class="subheading mb-3">Programming Languages & Tools</div>

    @foreach (var skill in Model)
    {

        <ul class="fa-ul mb-0">
            <li>
                <span class="fa-li"><i class="fas fa-check"></i></span>
                @skill.Yetenek
            </li>

        </ul>}

</div>  