
@{
    ViewBag.Title = "AddAdmin";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
<h4>Add New Admin</h4>
<br />
<form class="form-group" method="post">
    <br />
    <label>Username</label>
    <br />
    <input type="text" name="KullaniciAdi" class="form-control" placeholder="Enter Username..." />
    <br />
    <label>Password</label>
    <br />
    <input type="text" name="Sifre" class="form-control" placeholder="Enter Password..." />
    <br />
    <button class="btn btn-success">Save</button>
</form>
